<tectonicus version="2">

	<config
		outputDir="map"
		numZoomLevels="8"
		eraseOutputDir="true"
	>
		<plugin
			name="ic2"
			class="com.mikecaron.tectonicus.ic2.IC2Plugin">
			
			<configFile>IC2.cfg</configFile>
			
		</plugin>
	</config>

	<map
		name="test map"
		worldDir="world"
		dimension="terra"
		closestZoomSize="12"
	>
		<layer
			name="Day"
			lighting="day"
			renderStyle="normal"
		/>
	</map>

</tectonicus>